<script setup>
import ProfileStats from '@/components/profile/ProfileStats.vue'
import ProfileSubscription from '@/components/profile/ProfileSubscription.vue'
import Mention from '@/components/Mention.vue'

defineProps({
    profile: {
        type: Object,
        required: true
    }
})

const emit = defineEmits(['updated'])
</script>

<template>
    <div class="rounded shadow bg-white dark:bg-neutral-800">
        <div class="flex flex-col gap-5 p-5">
            <div class="flex gap-5">
                <img v-if="profile.picture"
                     v-bind:src="profile.picture"
                     v-bind:alt="'Profile picture of ' + profile.username"
                     class="rounded h-32 w-32">
                <div v-else class="rounded h-32 w-32 bg-neutral-200 dark:bg-neutral-850"></div>
                <div class="flex flex-col flex-1 min-w-0">
                    <div class="flex items-center gap-3 text-lg">
                        <strong v-if="profile.firstname || profile.lastname">
                            {{ profile.firstname }} {{ profile.lastname }}
                        </strong>
                        <router-link
                            class="text-blue-700 hover:text-blue-500"
                            v-bind:to="{ name: 'profile', params: { username: profile.username } }">
                            @{{ profile.username }}
                        </router-link>
                    </div>
                    <div class="flex-1 mb-2">
                        <Mention v-bind:message="profile.motto"/>
                    </div>
                    <div class="ml-auto" v-if="profile.can_subscribe">
                        <ProfileSubscription v-bind:profile="profile"
                                             v-on:updated="updatedProfile => emit('updated', updatedProfile)"/>
                    </div>
                </div>
            </div>
        </div>
        <ProfileStats v-if="profile" v-bind:profile="profile"/>
    </div>
</template>
