<script setup>
import { ChatBubbleOvalLeftEllipsisIcon, StarIcon, UsersIcon } from '@heroicons/vue/20/solid'
import ProfileStat from '@/components/profile/ProfileStat.vue'

defineProps({
    profile: {
        type: Object,
        required: true
    }
})
</script>

<template>
    <div class="flex gap-5 p-5 bg-neutral-50 rounded-b dark:bg-neutral-850">
        <ProfileStat title="Subscribers" v-bind:value="profile.subscriber_count">
            <StarIcon class="h-8 w-8"/>
        </ProfileStat>
        <ProfileStat title="Subscriptions" v-bind:value="profile.subscription_count">
            <UsersIcon class="h-8 w-8"/>
        </ProfileStat>
        <ProfileStat title="Messages" v-bind:value="profile.message_count">
            <ChatBubbleOvalLeftEllipsisIcon class="h-8 w-8"/>
        </ProfileStat>
    </div>
</template>
