<script setup>
defineProps({
    title: {
        type: String,
        required: true
    },
    value: {
        type: Number,
        required: true
    }
})
</script>

<template>
    <div class="flex flex-1 items-center gap-3">
        <div class="bg-white p-2 rounded shadow-sm text-blue-500 dark:bg-neutral-800 dark:text-blue-800">
            <slot/>
        </div>
        <div>
            <h2 class="text-neutral-500 text-sm">{{ title }}</h2>
            <p class="text-neutral-900 dark:text-neutral-300 font-bold">{{ value }}</p>
        </div>
    </div>
</template>
