<script setup>
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'

defineProps({
    profile: {
        type: Object,
        required: true
    }
})

const emit = defineEmits(['updated'])
</script>

<template>
    <BaseForm v-if="!profile.is_subscribed"
              v-bind:url="`profile/${profile.username}/subscribe`"
              v-on:success="response => emit('updated', response.data.profile)"
              v-slot="{ processing, errors }">
        <FormButton v-bind:disabled="processing">Subscribe</FormButton>
    </BaseForm>
    <BaseForm v-else
              v-bind:url="`profile/${profile.username}/unsubscribe`"
              v-on:success="response => emit('updated', response.data.profile)"
              v-slot="{ processing, errors }">
        <FormButton variant="secondary" v-bind:disabled="processing">Unsubscribe</FormButton>
    </BaseForm>
</template>
