<script setup>
import { ref } from 'vue'
import api from '@/api'
import AlertMessage from '@/components/AlertMessage.vue'

const processing = ref(false)
const errors = ref(null)
const alertMessage = ref(null)

const props = defineProps({
    method: {
        type: String,
        required: false,
        default: 'post'
    },
    url: {
        type: String,
        required: true
    },
    data: {
        type: Object,
        required: false,
        default: {}
    },
    clear: {
        type: Boolean,
        required: false,
        default: true
    }
})

const emit = defineEmits(['success', 'failure', 'always'])

function submit() {
    processing.value = true
    errors.value = null
    alertMessage.value = null

    api({
        method: props.method,
        url: props.url,
        data: props.data
    })
        .then(function (response) {
            emit('success', response)

            alertMessage.value = response.data?.alertMessage
            errors.value = response.data?.errors

            if (props.clear) {
                for (let field in props.data) {
                    props.data[field] = ''
                }
            }
        })
        .catch(function (error) {
            emit('failure', error)

            if (error.response) {
                alertMessage.value = error.response.data?.alertMessage
                errors.value = error.response.data?.errors
            } else {
                alertMessage.value = {
                    type: 'danger',
                    message: error.message
                }
            }
        })
        .then(function () {
            emit('always')

            processing.value = false
        })
}
</script>

<template>
    <form v-on:submit.prevent="submit">
        <AlertMessage
            v-if="alertMessage"
            v-bind:rounded="true"
            v-bind:type="alertMessage.type"
            v-bind:message="alertMessage.message"
            v-on:close="alertMessage = null"
        />
        <slot v-bind:processing="processing" v-bind:errors="errors"/>
    </form>
</template>
