<script setup>
defineProps({
    type: {
        type: String,
        required: false,
        default: "submit"
    },
    disabled: {
        type: Boolean,
        required: false,
        default: false
    },
    variant: {
        type: String,
        required: false,
        default: 'primary'
    }
})

const variants = {
    primary: 'text-white border-blue-600 bg-blue-600 hover:bg-blue-500 disabled:bg-blue-400 focus:bg-blue-500 focus:ring-blue-300 dark:bg-blue-800 dark:hover:bg-blue-700 dark:disabled:bg-blue-900 dark:focus:bg-blue-700 dark:focus:ring-blue-800/50 dark:border-blue-800',
    danger: 'text-white border-red-600 bg-red-600 hover:bg-red-500 disabled:bg-red-400 focus:bg-red-500 focus:ring-red-300 dark:bg-red-800 dark:hover:bg-red-700 dark:disabled:bg-red-900 dark:focus:bg-red-700 dark:focus:ring-red-800/50 dark:border-red-800',
    secondary: 'text-neutral-900 border-neutral-200 bg-white hover:bg-neutral-100 disabled:bg-neutral-50 focus:bg-neutral-100 focus:ring-blue-300 focus:border-blue-600 dark:text-white dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:disabled:bg-neutral-900 dark:focus:bg-neutral-700 dark:focus:ring-blue-800/50 dark:border-neutral-700'
}
</script>

<template>
    <button
        v-bind:type="type"
        v-bind:disabled="disabled"
        v-bind:class="'inline-flex gap-1 border py-2 px-3 shadow-sm text-sm rounded-md focus:ring-4 outline-none transition-all ' + variants[variant]">
        <slot/>
    </button>
</template>
