<script setup>
defineProps({
    name: {
        type: String,
        required: true
    },
    modelValue: {
        required: true,
    },
    label: {
        type: String,
        required: true
    },
    placeholder: {
        type: String,
        required: false,
        default: ''
    },
    disabled: {
        type: Boolean,
        required: false,
        default: false
    },
    errors: {
        type: Array,
        required: false,
    },
    info: {
        type: String,
        required: false
    },
    rows: {
        type: Number,
        required: false,
        default: 3
    }
})

const emit = defineEmits(['update:modelValue'])
</script>

<template>
    <div class="space-y-1 flex flex-col w-full">
        <label v-bind:for="name" v-text="label" class="block text-sm text-neutral-700 dark:text-neutral-300"></label>
        <textarea v-on:input="emit('update:modelValue', $event.target.value)"
                  v-bind:value="modelValue"
                  v-bind:id="name"
                  v-bind:name="name"
                  v-bind:placeholder="placeholder"
                  v-bind:rows="rows"
                  v-bind:disabled="disabled"
                  v-bind:class="{
                    'w-full shadow-sm rounded py-2 px-3 outline-none border focus:ring-4 disabled:bg-neutral-50 transition-all resize-none dark:bg-neutral-850 dark:disabled:bg-neutral-900': true,
                    'border-neutral-300 focus:border-blue-600 focus:ring-blue-200 dark:border-neutral-900 dark:focus:border-blue-700 dark:focus:ring-blue-800/50': !errors,
                    'border-red-300 focus:border-red-600 focus:ring-red-200 dark:border-red-700 focus:ring-red-800/50': errors
                  }"></textarea>
        <span v-if="errors" v-text="errors[0]" class="text-sm text-red-500"></span>
        <span v-if="info" v-text="info" class="text-sm text-neutral-500"></span>
    </div>
</template>
