<script setup>
defineProps({
    name: {
        type: String,
        required: true
    },
    modelValue: {
        type: Boolean,
        required: true,
    },
    label: {
        type: String,
        required: true
    },
    disabled: {
        type: Boolean,
        required: false,
        default: false
    },
    errors: {
        type: Array,
        required: false,
    },
    info: {
        type: String,
        required: false
    }
})

const emit = defineEmits(['update:modelValue'])
</script>

<template>
    <div class="flex items-start gap-2 w-full">
        <input type="checkbox"
               v-on:input="emit('update:modelValue', $event.target.checked)"
               v-bind:checked="modelValue"
               v-bind:id="name"
               v-bind:name="name"
               v-bind:disabled="disabled"
               v-bind:class="{
                    'w-auto mt-1 shadow-sm rounded py-2 px-3 outline-none border focus:ring-4 disabled:bg-neutral-50 transition-all dark:disabled:bg-neutral-900': true,
                    'border-neutral-300 focus:border-blue-600 focus:ring-blue-200 dark:border-neutral-900 dark:focus:border-blue-700 dark:focus:ring-blue-800/50': !errors,
                    'border-red-300 focus:border-red-600 focus:ring-red-200 dark:border-red-700 focus:ring-red-800/50': errors
               }">
        <div>
            <label v-bind:for="name" v-text="label" class="block text-sm text-neutral-700 dark:text-neutral-300"></label>
            <span v-if="errors" v-text="errors[0]" class="text-sm text-red-500"></span>
            <span v-if="info" v-text="info" class="text-sm text-neutral-500"></span>
        </div>
    </div>
</template>
