<script setup>
import { reactive } from 'vue'
import { login } from '@/auth'
import { ChevronRightIcon } from '@heroicons/vue/20/solid'
import SmallLayout from '@/layouts/SmallLayout.vue'
import FormInput from '@/components/form/FormInput.vue'
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'

const data = reactive({
    email: '',
    password: '',
})
</script>

<template>
    <SmallLayout>
        <div class="rounded shadow bg-white dark:bg-neutral-800">
            <BaseForm url="auth/login"
                      v-bind:data="data"
                      v-on:success="response => login(response.data.user, response.data.token)"
                      v-slot="{ processing, errors }">
                <div class="p-5 space-y-5">
                    <div class="space-y-1">
                        <h1 class="text-2xl">Sign in</h1>
                        <p>Access your account</p>
                    </div>
                    <FormInput name="email"
                               label="Email address"
                               type="email"
                               autocomplete="email"
                               v-bind:disabled="processing"
                               v-bind:errors="errors?.email"
                               v-model="data.email"
                    />
                    <FormInput name="password"
                               label="Password"
                               type="password"
                               autocomplete="current-password"
                               v-bind:disabled="processing"
                               v-bind:errors="errors?.password"
                               v-model="data.password"
                    />
                </div>
                <div class="p-5 bg-neutral-50 rounded-b flex items-center justify-between dark:bg-neutral-850">
                    <p class="text-neutral-600 text-sm dark:text-neutral-500">
                        Create an
                        <router-link v-bind:to="{ name:'auth.register' }"
                                     class="text-blue-600 hover:underline dark:text-blue-500">
                            account
                        </router-link>
                    </p>
                    <FormButton v-bind:disabled="processing">
                        <span>Sign in</span>
                        <ChevronRightIcon class="h-5 w-5"/>
                    </FormButton>
                </div>
            </BaseForm>
        </div>
    </SmallLayout>
</template>
