<script setup>
import { reactive } from 'vue'
import { useRouter } from 'vue-router'
import { ChevronRightIcon } from '@heroicons/vue/20/solid'
import SmallLayout from '@/layouts/SmallLayout.vue'
import FormInput from '@/components/form/FormInput.vue'
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'

const router = useRouter()

const data = reactive({
    email: '',
    username: '',
    password: '',
    password_confirmation: '',
})
</script>

<template>
    <SmallLayout>
        <div class="rounded shadow bg-white dark:bg-neutral-800">
            <BaseForm url="auth/register"
                      v-bind:data="data"
                      v-on:success="router.push({ 'name': 'auth.login' })"
                      v-slot="{ processing, errors }">
                <div class="p-5 space-y-5">
                    <div class="space-y-1">
                        <h1 class="text-2xl">Register</h1>
                        <p>Create an account</p>
                    </div>
                    <FormInput name="email"
                               label="Email address"
                               type="email"
                               autocomplete="email"
                               v-bind:disabled="processing"
                               v-bind:errors="errors?.email"
                               v-model="data.email"
                    />
                    <FormInput name="username"
                               label="Username"
                               type="text"
                               autocomplete="username"
                               v-bind:disabled="processing"
                               v-bind:errors="errors?.username"
                               v-model="data.username"
                    />
                    <FormInput name="password"
                               label="Password"
                               type="password"
                               autocomplete="new-password"
                               v-bind:disabled="processing"
                               v-bind:errors="errors?.password"
                               v-model="data.password"
                    />
                    <FormInput name="password_confirmation"
                               label="Password confirmation"
                               type="password"
                               autocomplete="new-password"
                               v-bind:disabled="processing"
                               v-bind:errors="errors?.password_confirmation"
                               v-model="data.password_confirmation"
                    />
                </div>
                <div class="p-5 bg-neutral-50 rounded-b flex items-center justify-between dark:bg-neutral-850">
                    <p class="text-neutral-600 text-sm dark:text-neutral-500">
                        Already have an account?
                        <router-link v-bind:to="{ name: 'auth.login' }"
                                     class="text-blue-600 hover:underline dark:text-blue-500">
                            Sign in
                        </router-link>
                    </p>
                    <FormButton v-bind:disabled="processing">
                        <span>Create account</span>
                        <ChevronRightIcon class="h-5 w-5"/>
                    </FormButton>
                </div>
            </BaseForm>
        </div>
    </SmallLayout>
</template>
