<script setup>
import { UserIcon, CameraIcon, EnvelopeIcon, LockClosedIcon, EyeIcon } from '@heroicons/vue/20/solid'
</script>

<template>
    <nav class="w-48 bg-neutral-50 dark:bg-neutral-850 rounded-l p-2">
        <ul class="flex flex-col space-y-1">
            <li>
                <router-link v-bind:to="{ name: 'setting.general' }"
                             class="flex items-center space-x-2 px-3 py-2 transition-all rounded text-neutral-700 hover:bg-neutral-200 hover:text-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
                             active-class="!bg-blue-500 !text-white hover:!bg-blue-500 hover:!text-white dark:!bg-blue-800 dark:hover:!bg-blue-800">
                    <UserIcon class="h-5 w-5"/>
                    <span>General</span>
                </router-link>
            </li>
            <li>
                <router-link v-bind:to="{ name: 'setting.picture' }"
                             class="flex items-center space-x-2 px-3 py-2 transition-all rounded text-neutral-700 hover:bg-neutral-200 hover:text-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
                             active-class="!bg-blue-500 !text-white hover:!bg-blue-500 hover:!text-white dark:!bg-blue-800 dark:hover:!bg-blue-800">
                    <CameraIcon class="h-5 w-5"/>
                    <span>Picture</span>
                </router-link>
            </li>
            <li>
                <router-link v-bind:to="{ name: 'setting.email' }"
                             class="flex items-center space-x-2 px-3 py-2 transition-all rounded text-neutral-700 hover:bg-neutral-200 hover:text-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
                             active-class="!bg-blue-500 !text-white hover:!bg-blue-500 hover:!text-white dark:!bg-blue-800 dark:hover:!bg-blue-800">
                    <EnvelopeIcon class="h-5 w-5"/>
                    <span>Email address</span>
                </router-link>
            </li>
            <li>
                <router-link v-bind:to="{ name: 'setting.password' }"
                             class="flex items-center space-x-2 px-3 py-2 transition-all rounded text-neutral-700 hover:bg-neutral-200 hover:text-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
                             active-class="!bg-blue-500 !text-white hover:!bg-blue-500 hover:!text-white dark:!bg-blue-800 dark:hover:!bg-blue-800">
                    <LockClosedIcon class="h-5 w-5"/>
                    <span>Password</span>
                </router-link>
            </li>
            <li>
                <router-link v-bind:to="{ name: 'setting.privacy' }"
                             class="flex items-center space-x-2 px-3 py-2 transition-all rounded text-neutral-700 hover:bg-neutral-200 hover:text-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
                             active-class="!bg-blue-500 !text-white hover:!bg-blue-500 hover:!text-white dark:!bg-blue-800 dark:hover:!bg-blue-800">
                    <EyeIcon class="h-5 w-5"/>
                    <span>Privacy</span>
                </router-link>
            </li>
        </ul>
    </nav>
</template>
