<script setup>
import { ref } from 'vue'
import BaseLayout from '@/layouts/BaseLayout.vue'
import MessageFeed from '@/components/message/MessageFeed.vue'
import CreateMessage from '@/components/dashboard/CreateMessage.vue'

const feed = ref(null)
</script>

<template>
    <BaseLayout>
        <div class="space-y-20">
            <CreateMessage v-on:created="message => feed.addMessage(message)"/>
            <MessageFeed ref="feed"/>
        </div>
    </BaseLayout>
</template>
