<script setup>
import { onMounted, ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import api from '@/api'
import BaseLayout from '@/layouts/BaseLayout.vue'
import ProfileBox from '@/components/profile/ProfileBox.vue'
import ProfileLoading from '@/components/profile/ProfileLoading.vue'
import MessageFeed from '@/components/message/MessageFeed.vue'
import AlertMessage from '@/components/AlertMessage.vue'

const route = useRoute()
const username = ref(route.params.username)
const profile = ref(null)
const notFound = ref(false)

watch(() => route.params.username, function (to) {
    if (typeof to === 'undefined') {
        return
    }

    username.value = to

    fetchProfile()
})

function fetchProfile() {
    notFound.value = false
    profile.value = null

    api.get('profile/' + username.value)
        .then(response => profile.value = response.data.profile)
        .catch(() => notFound.value = true)
}

onMounted(() => fetchProfile())
</script>

<template>
    <BaseLayout>
        <div class="space-y-20">
            <template v-if="!notFound">
                <ProfileBox v-if="profile"
                            v-bind:profile="profile"
                            v-on:updated="updatedProfile => profile = updatedProfile"/>
                <ProfileLoading v-else/>
                <MessageFeed v-bind:username="username"/>
            </template>
            <template v-else>
                <AlertMessage type="danger" message="This profile has not been found!"/>
            </template>
        </div>
    </BaseLayout>
</template>
