<script setup>
import { ChatBubbleLeftRightIcon } from '@heroicons/vue/24/outline'
import TheNavigation from '@/elements/TheNavigation.vue'
</script>

<template>
    <header class="sticky top-0 w-full bg-white/75 dark:bg-neutral-800/75 shadow backdrop-blur">
        <div class="mx-auto max-w-4xl px-5 flex items-center">
            <router-link v-bind:to="{ name: 'dashboard' }" class="flex items-center space-x-1 h-16">
                <ChatBubbleLeftRightIcon class="h-6 w-6 text-blue-500"/>
                <span class="text-neutral-800 dark:text-neutral-200">Message</span>
            </router-link>
            <TheNavigation/>
        </div>
    </header>
</template>
