<script setup>
import { logout } from '@/auth'
import { ArrowPathIcon, CogIcon, UserCircleIcon, ArrowRightOnRectangleIcon } from '@heroicons/vue/20/solid'
import Authenticated from '@/auth/Authenticated.vue'
import Guest from '@/auth/Guest.vue'
import Checking from '@/auth/Checking.vue'
import Dropdown from '@/components/Dropdown.vue'
</script>

<template>
    <Checking>
        <ArrowPathIcon class="h-5 w-5 ml-auto mr-4 text-blue-500 animate-spin -rotate-180"/>
    </Checking>
    <Authenticated v-slot="{ user }">
        <nav class="ml-auto">
            <ul class="flex space-x-2">
                <li class="relative">
                    <Dropdown v-slot="{ open, toggle }">
                        <a href="#"
                           v-on:click.prevent="toggle"
                           v-bind:class="{
                                'flex items-center px-3 h-16': true,
                                'text-neutral-500 hover:text-neutral-700': !open,
                                'text-neutral-700 hover:text-neutral-700': open
                           }">
                            <img v-if="user.picture"
                                 v-bind:src="user.picture"
                                 v-bind:alt="'Picture of ' + user.username"
                                 class="h-8 w-8 rounded-full">
                            <span v-else>
                                {{ user.username }}
                            </span>
                        </a>
                        <Transition name="dropdown">
                            <ul class="flex flex-col mt-1 space-y-1 right-0 w-48 p-2 absolute rounded shadow-md bg-white dark:bg-neutral-850"
                                v-if="open"
                                v-on:click="toggle">
                                <li>
                                    <router-link v-bind:to="{ name: 'profile', params: { username: user.username } }"
                                                 class="flex items-center space-x-2 px-3 py-2 rounded transition-all text-neutral-700 hover:bg-neutral-100 hover:text-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
                                                 active-class="!bg-blue-500 !text-white hover:!bg-blue-500 hover:!text-white dark:!bg-blue-800 dark:hover:!bg-blue-800">
                                        <UserCircleIcon class="h-5 w-5"/>
                                        <span>Profile</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link v-bind:to="{ name: 'setting.general' }"
                                                 class="flex items-center space-x-2 px-3 py-2 rounded transition-all text-neutral-700 hover:bg-neutral-100 hover:text-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
                                                 active-class="!bg-blue-500 !text-white hover:!bg-blue-500 hover:!text-white dark:!bg-blue-800 dark:hover:!bg-blue-800">
                                        <CogIcon class="h-5 w-5"/>
                                        <span>Settings</span>
                                    </router-link>
                                </li>
                                <li>
                                    <span class="block my-1 border-t border-neutral-200 dark:border-neutral-700"></span>
                                </li>
                                <li>
                                    <a href="#"
                                       class="flex items-center space-x-2 px-3 py-2 rounded transition-all text-neutral-700 hover:bg-neutral-100 hover:text-neutral-900 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-neutral-200"
                                       v-on:click.prevent="logout">
                                        <ArrowRightOnRectangleIcon class="h-5 w-5"/>
                                        <span>Log out</span>
                                    </a>
                                </li>
                            </ul>
                        </Transition>
                    </Dropdown>
                </li>
            </ul>
        </nav>
    </Authenticated>
    <Guest>
        <nav class="ml-auto">
            <ul class="flex space-x-2">
                <li>
                    <router-link v-bind:to="{ name: 'auth.login'}"
                                 class="block px-3 py-5 text-neutral-500 hover:text-neutral-700 dark:text-neutral-500 dark:hover:text-neutral-300"
                                 active-class="!text-neutral-900 hover:!text-neutral-900 dark:!text-neutral-300 dark:hover:!text-neutral-300">
                        Log in
                    </router-link>
                </li>
                <li>
                    <router-link v-bind:to="{ name: 'auth.register'}"
                                 class="block px-3 py-5 text-neutral-500 hover:text-neutral-700 dark:text-neutral-500 dark:hover:text-neutral-300"
                                 active-class="!text-neutral-900 hover:!text-neutral-900 dark:!text-neutral-300 dark:hover:!text-neutral-300">
                        Register
                    </router-link>
                </li>
            </ul>
        </nav>
    </Guest>
</template>
