<script setup>
import { ref } from 'vue'
import { XCircleIcon, XMarkIcon, ExclamationCircleIcon, CheckCircleIcon, InformationCircleIcon } from '@heroicons/vue/20/solid'

const show = ref(true)

defineProps({
    type: {
        type: String,
        required: true
    },
    message: {
        type: String,
        required: true
    },
    rounded: {
        type: Boolean,
        required: false,
        default: false
    }
})

const variants = {
    'success': {
        icon: CheckCircleIcon,
        bgClasses: 'bg-green-50 dark:bg-green-900',
        iconClasses: 'text-green-500',
        closeClasses: 'text-green-500 hover:text-green-700 focus:ring-green-200 dark:focus:ring-green-700',
        textClasses: 'text-green-800 dark:text-green-200'
    },
    'danger': {
        icon: XCircleIcon,
        bgClasses: 'bg-red-50 dark:bg-red-900',
        iconClasses: 'text-red-500',
        closeClasses: 'text-red-500 hover:text-red-700 focus:ring-red-200 dark:focus:ring-red-700',
        textClasses: 'text-red-800 dark:text-red-200'
    },
    'warning': {
        icon: ExclamationCircleIcon,
        bgClasses: 'bg-yellow-50 dark:bg-yellow-900',
        iconClasses: 'text-yellow-500',
        closeClasses: 'text-yellow-500 hover:text-yellow-700 focus:ring-yellow-200 dark:focus:ring-yellow-700',
        textClasses: 'text-yellow-800 dark:text-yellow-200'
    },
    'info': {
        icon: InformationCircleIcon,
        bgClasses: 'bg-blue-50 dark:bg-blue-900',
        iconClasses: 'text-blue-500',
        closeClasses: 'text-blue-500 hover:text-blue-700 focus:ring-blue-200 dark:focus:ring-blue-700',
        textClasses: 'text-blue-800 dark:text-blue-200'
    }
}
</script>

<template>
    <div v-if="show" v-bind:class="{ 'rounded-t': rounded }">
        <div v-bind:class="'flex flex-row items-center ' + variants[type].bgClasses">
            <div class="p-5">
                <component v-bind:is="variants[type].icon" v-bind:class="'h-5 w-5 ' + variants[type].iconClasses"/>
            </div>
            <p v-bind:class="'flex-1 py-5 ' + variants[type].textClasses" v-text="message"></p>
            <button
                v-bind:class="'p-5 outline-none transition-all focus:ring-4 ' + variants[type].closeClasses"
                v-on:click.prevent="show = false">
                <XMarkIcon class="h-5 w-5"/>
            </button>
        </div>
    </div>
</template>
