<script setup>
import { ref } from 'vue'

const open = ref(false)

function toggle() {
    open.value = !open.value

    if (open.value) {
        setTimeout(() => document.addEventListener('click', toggle))
    } else {
        document.removeEventListener('click', toggle)
    }
}
</script>

<template>
    <slot v-bind:open="open" v-bind:toggle="toggle"/>
</template>
