<script setup>
import { computed } from 'vue'

const props = defineProps({
    message: {
        type: String,
        required: true
    }
})

const segments = computed(() => props.message.split(/(@[A-Z\d-_]+)/i))
const isMention = segment => /^@[A-Z\d-_]+$/i.exec(segment)
</script>

<template>
    <p class="whitespace-pre-wrap break-words">
        <template v-for="segment in segments">
            <router-link v-if="isMention(segment)"
                         class="text-blue-700 hover:text-blue-500"
                         v-bind:to="{ name: 'profile', params: { username: segment.substring(1) } }"
                         v-text="segment"/>
            <span v-else v-text="segment"></span>
        </template>
    </p>
</template>
