<script setup>
import { ref, onMounted } from 'vue'

const modal = ref(null)

const emit = defineEmits(['close'])

onMounted(() => modal.value.focus())
</script>

<template>
    <div class="fixed left-0 top-0 w-screen h-screen bg-black/25 dark:bg-black/75 backdrop-blur-sm">
        <div class="flex items-center justify-center h-screen w-screen"
             ref="modal"
             tabindex="0"
             v-on:click.self="emit('close')"
             v-on:keydown.esc.prevent="emit('close')">
            <div class="rounded shadow-xl bg-white dark:bg-neutral-900">
                <slot/>
            </div>
        </div>
    </div>
</template>
