<script setup>
import { reactive } from 'vue'
import { ChevronRightIcon } from '@heroicons/vue/20/solid'
import FormTextarea from '@/components/form/FormTextarea.vue'
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'

const data = reactive({
    message: ''
})

const emit = defineEmits(['created'])
</script>

<template>
    <div class="rounded shadow bg-white dark:bg-neutral-800">
        <BaseForm url="messages"
                  v-bind:data="data"
                  v-on:success="response => emit('created', response.data.message)"
                  v-slot="{ processing, errors }">
            <div class="p-5 space-y-5">
                <FormTextarea name="body" label="Message" placeholder="What are you thinking about?"
                              v-bind:disabled="processing"
                              v-bind:errors="errors?.body"
                              v-model="data.body"
                />
            </div>
            <div class="p-5 bg-neutral-50 rounded-b flex items-center justify-end dark:bg-neutral-850">
                <FormButton v-bind:disabled="processing">
                    <span>Post</span>
                    <ChevronRightIcon class="h-5 w-5"/>
                </FormButton>
            </div>
        </BaseForm>
    </div>
</template>
