<script setup>
import { reactive } from 'vue'
import { setUser } from '@/auth'
import { ChevronRightIcon } from '@heroicons/vue/20/solid'
import FormInput from '@/components/form/FormInput.vue'
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'
import Settings from '@/layouts/SettingLayout.vue'

const data = reactive({
    email: ''
})
</script>

<template>
    <Settings v-slot="{ user }">
        <BaseForm url="settings/email"
                  method="patch"
                  v-bind:data="data"
                  v-slot="{ processing, errors }"
                  v-on:success="response => setUser(response.data.user)">
            <div class="p-5 space-y-5 min-h-[300px]">
                <div class="space-y-1">
                    <h1 class="text-2xl">Email Address</h1>
                    <p>Update your email address</p>
                </div>
                <FormInput name="current_email"
                           label="Current email address"
                           type="email"
                           autocomplete="email"
                           v-bind:disabled="true"
                           v-model="user.email"
                />
                <FormInput name="email"
                           label="New email address"
                           type="email"
                           autocomplete="email"
                           v-bind:disabled="processing"
                           v-bind:errors="errors?.email"
                           v-model="data.email"
                />
            </div>
            <div class="flex items-center justify-end p-5">
                <FormButton v-bind:disabled="processing">
                    <span>Save</span>
                    <ChevronRightIcon class="h-5 w-5"/>
                </FormButton>
            </div>
        </BaseForm>
    </Settings>
</template>
