<script setup>
import { reactive } from 'vue'
import { useAuthStore } from '@/stores/auth'
import { setUser } from '@/auth'
import { ChevronRightIcon } from '@heroicons/vue/20/solid'
import FormInput from '@/components/form/FormInput.vue'
import FormTextarea from '@/components/form/FormTextarea.vue'
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'
import Settings from '@/layouts/SettingLayout.vue'

const { user } = useAuthStore()

const data = reactive({
    firstname: user.firstname || '',
    lastname: user.lastname || '',
    motto: user.motto || '',
})
</script>

<template>
    <Settings>
        <BaseForm url="settings/general"
                  method="patch"
                  v-bind:data="data"
                  v-slot="{ processing, errors }"
                  v-on:success="response => setUser(response.data.user)"
                  v-bind:clear="false">
            <div class="p-5 space-y-5 min-h-[300px]">
                <div class="space-y-1">
                    <h1 class="text-2xl">General</h1>
                    <p>Update your personal information</p>
                </div>
                <div class="flex flex-row gap-5">
                    <FormInput name="firstname"
                               label="Firstname"
                               type="text"
                               autocomplete="given-name"
                               v-bind:disabled="processing"
                               v-bind:errors="errors?.firstname"
                               v-model="data.firstname"
                    />
                    <FormInput name="lastname"
                               label="Lastname"
                               type="text"
                               autocomplete="family-name"
                               v-bind:disabled="processing"
                               v-bind:errors="errors?.lastname"
                               v-model="data.lastname"
                    />
                </div>
                <FormTextarea name="motto"
                              label="Motto"
                              v-bind:disabled="processing"
                              v-bind:errors="errors?.motto"
                              v-model="data.motto"
                />
            </div>
            <div class="flex items-center justify-end p-5">
                <FormButton v-bind:disabled="processing">
                    <span>Save</span>
                    <ChevronRightIcon class="h-5 w-5"/>
                </FormButton>
            </div>
        </BaseForm>
    </Settings>
</template>
