<script setup>
import { reactive } from 'vue'
import { setUser } from '@/auth'
import { ChevronRightIcon } from '@heroicons/vue/20/solid'
import FormInput from '@/components/form/FormInput.vue'
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'
import Settings from '@/layouts/SettingLayout.vue'

const data = reactive({
    current_password: '',
    password: '',
    password_confirmation: ''
})
</script>

<template>
    <Settings>
        <BaseForm url="settings/password"
                  method="patch"
                  v-bind:data="data"
                  v-slot="{ processing, errors }"
                  v-on:success="response => setUser(response.data.user)">
            <div class="p-5 space-y-5 min-h-[300px]">
                <div class="space-y-1">
                    <h1 class="text-2xl">Password</h1>
                    <p>Update your password</p>
                </div>
                <FormInput name="current_password"
                           label="Current password"
                           type="password"
                           autocomplete="current-password"
                           v-bind:disabled="processing"
                           v-bind:errors="errors?.current_password"
                           v-model="data.current_password"
                />
                <FormInput name="password"
                           label="New password"
                           type="password"
                           autocomplete="new-password"
                           v-bind:disabled="processing"
                           v-bind:errors="errors?.password"
                           v-model="data.password"
                />
                <FormInput name="password_confirmation"
                           label="Password confirmation"
                           type="password"
                           autocomplete="new-password"
                           v-bind:disabled="processing"
                           v-bind:errors="errors?.password_confirmation"
                           v-model="data.password_confirmation"
                />
            </div>
            <div class="flex items-center justify-end p-5">
                <FormButton v-bind:disabled="processing">
                    <span>Save</span>
                    <ChevronRightIcon class="h-5 w-5"/>
                </FormButton>
            </div>
        </BaseForm>
    </Settings>
</template>
