<script setup>
import { ref } from 'vue'
import { setUser } from '@/auth'
import { ChevronRightIcon, TrashIcon } from '@heroicons/vue/20/solid'
import FormFile from '@/components/form/FormFile.vue'
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'
import Settings from '@/layouts/SettingLayout.vue'
import Modal from '@/components/Modal.vue'

const modal = ref(false)
const data = new FormData()

const change = event => data.set('picture', event.target.files[0])

function deleted(response) {
    setUser(response.data.user)
    modal.value = false
}
</script>

<template>
    <Settings v-slot="{ user }">
        <BaseForm url="settings/picture"
                  method="post"
                  v-bind:data="data"
                  v-slot="{ processing, errors }"
                  v-on:success="response => setUser(response.data.user)"
                  v-bind:clear="false">
            <div class="p-5 space-y-5 min-h-[300px]">
                <div class="space-y-1">
                    <h1 class="text-2xl">Picture</h1>
                    <p>Update your profile picture</p>
                </div>
                <div class="flex gap-5 items-center">
                    <img v-if="user.picture"
                         v-bind:src="user.picture"
                         v-bind:alt="'Picture of ' + user.username"
                         class="h-32 w-32 rounded">
                    <FormFile name="picture"
                              label="Picture"
                              type="file"
                              v-bind:disabled="processing"
                              v-bind:errors="errors?.picture"
                              v-on:change="change"
                    />
                </div>
            </div>
            <div class="flex items-center p-5">
                <FormButton type="button" variant="secondary" class="!text-red-600"
                            v-on:click.prevent="modal = true"
                            v-if="user.picture">
                    Delete picture
                </FormButton>
                <FormButton class="ml-auto" v-bind:disabled="processing">
                    <span>Save</span>
                    <ChevronRightIcon class="h-5 w-5"/>
                </FormButton>
            </div>
        </BaseForm>
    </Settings>
    <Transition name="fade">
        <Modal v-if="modal" v-on:close="modal = false">
            <BaseForm url="settings/picture"
                      method="delete"
                      v-slot="{ processing, errors }"
                      v-on:success="deleted">
                <div class="p-5 space-y-5">
                    <h1 class="text-2xl">Delete picture</h1>
                    <p>Are you sure you want to delete your profile picture?</p>
                </div>
                <div class="flex items-center justify-between p-5">
                    <FormButton type="button" variant="secondary" v-on:click.prevent="modal = false">
                        Cancel
                    </FormButton>
                    <FormButton variant="danger" v-bind:disabled="processing">
                        <TrashIcon class="h-5 w-5"/>
                        <span>Delete</span>
                    </FormButton>
                </div>
            </BaseForm>
        </Modal>
    </Transition>
</template>
