<script setup>
import { reactive } from 'vue'
import { useAuthStore } from '@/stores/auth'
import { setUser } from '@/auth'
import { ChevronRightIcon } from '@heroicons/vue/20/solid'
import FormCheckbox from '@/components/form/FormCheckbox.vue'
import FormButton from '@/components/form/FormButton.vue'
import BaseForm from '@/components/form/BaseForm.vue'
import Settings from '@/layouts/SettingLayout.vue'

const authStore = useAuthStore()

const data = reactive({
    is_public: authStore.user.is_public
})
</script>

<template>
    <Settings>
        <BaseForm url="settings/privacy"
                  method="patch"
                  v-bind:data="data"
                  v-slot="{ processing, errors }"
                  v-on:success="response => setUser(response.data.user)"
                  v-bind:clear="false">
            <div class="p-5 space-y-5 min-h-[300px]">
                <div class="space-y-1">
                    <h1 class="text-2xl">Privacy</h1>
                    <p>Update your privacy</p>
                </div>
                <FormCheckbox name="is_public"
                              label="Public account"
                              type="checkbox"
                              info="If this option is disabled, nobody is able to view your messages."
                              v-bind:disabled="processing"
                              v-bind:errors="errors?.is_public"
                              v-model="data.is_public"
                />
            </div>
            <div class="flex items-center justify-end p-5">
                <FormButton v-bind:disabled="processing">
                    <span>Save</span>
                    <ChevronRightIcon class="h-5 w-5"/>
                </FormButton>
            </div>
        </BaseForm>
    </Settings>
</template>
