@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-leave-active,
.dropdown-enter-active {
    transition: all 100ms ease-in-out;
}

.dropdown-leave-active {
    transform: translateY(20px);
}

.dropdown-enter-from,
.dropdown-leave-to {
    transform: translateY(-5px);
    opacity: 0;
}

.fade-leave-active,
.fade-enter-active {
    transition: all 100ms ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
