<script setup>
import { computed } from 'vue'
import { useAuthStore } from '@/stores/auth'
import TheHeader from '@/elements/TheHeader.vue'

const authStore = useAuthStore()
const status = computed(() => authStore.status)
</script>

<template>
    <div class="flex flex-col">
        <TheHeader></TheHeader>
        <main class="my-20">
            <router-view v-if="status"/>
        </main>
    </div>
</template>
