<script setup>
import BaseLayout from '@/layouts/BaseLayout.vue'
import SettingNavigation from '@/components/setting/SettingNavigation.vue'
import Authenticated from '@/auth/Authenticated.vue'
</script>

<template>
    <BaseLayout>
        <Authenticated v-slot="{ user }">
            <div class="flex rounded shadow bg-white dark:bg-neutral-800">
                <SettingNavigation/>
                <div class="flex-1">
                    <slot v-bind:user="user"/>
                </div>
            </div>
        </Authenticated>
    </BaseLayout>
</template>
