<script setup>
import { computed, onMounted, onUnmounted, reactive, watch } from 'vue'
import api from '@/api'
import MessageList from '@/components/message/MessageList.vue'
import MessageListLoading from '@/components/message/MessageListLoading.vue'

const props = defineProps({
    username: {
        type: String,
        required: false,
        default: null
    },
    limit: {
        type: Number,
        required: false,
        default: 10
    }
})

const data = reactive({
    loading: true,
    fetching: false,
    finished: false,
    messages: [],
    last: 0,
})

const url = computed(() => props.username === null ? `messages/feed` : `messages/user/${props.username}`)

watch(() => props.username, () => initialize())

defineExpose({
    addMessage
})

function addMessage(message) {
    data.messages.unshift(message)
}

function updateMessage(message) {
    const index = data.messages.map(message => message.id).indexOf(message.id)

    if (~index) {
        data.messages[index] = message
    }
}

function deleteMessage(message) {
    const index = data.messages.map(message => message.id).indexOf(message.id)

    if (~index) {
        data.messages.splice(index, 1)
    }
}

function initialize() {
    data.loading = true
    data.fetching = false
    data.finished = false
    data.messages = []
    data.last = 0
    fetchFeed()
}

function fetchFeed() {
    if (data.finished || data.fetching) {
        return
    }

    data.fetching = true

    api.get(`${url.value}/${props.limit}/${data.last}`).then(function (response) {
        const fetchedMessages = response.data.messages

        if (fetchedMessages.length > 0) {
            data.last = fetchedMessages[fetchedMessages.length - 1].id
            data.messages.push(...fetchedMessages)
        }

        if (fetchedMessages.length < props.limit) {
            data.finished = true
        }
    }).catch().then(function () {
        data.loading = false
        data.fetching = false
    })
}

function scroll() {
    if (data.loading || data.fetching || data.finished) {
        return
    }

    if (document.documentElement.scrollTop + window.innerHeight > document.documentElement.offsetHeight - window.innerHeight / 3) {
        fetchFeed()
    }
}

onMounted(function () {
    initialize()
    window.addEventListener('scroll', scroll)
})

onUnmounted(function () {
    window.removeEventListener('scroll', scroll)
})
</script>

<template>
    <MessageListLoading v-if="data.loading"/>
    <MessageList v-else v-bind:messages="data.messages"
                 v-on:updated="message => updateMessage(message)"
                 v-on:deleted="message => deleteMessage(message)"/>
</template>
