<script setup>
import MessageLoading from '@/components/message/MessageLoading.vue'
</script>

<template>
    <div class="space-y-5">
        <MessageLoading/>
        <MessageLoading/>
        <MessageLoading/>
    </div>
</template>
