<template>
    <div class="rounded shadow bg-white dark:bg-neutral-800">
        <div class="animate-pulse">
            <div class="flex gap-5 p-5">
                <div class="h-24 w-24 bg-neutral-200 rounded dark:bg-neutral-850"></div>
                <div class="flex flex-col gap-5 flex-1 pt-2">
                    <div class="h-2 bg-neutral-200 rounded dark:bg-neutral-850"></div>
                    <div class="space-y-3">
                        <div class="grid grid-cols-3 gap-5">
                            <div class="h-2 bg-neutral-200 rounded col-span-2 dark:bg-neutral-850"></div>
                            <div class="h-2 bg-neutral-200 rounded col-span-1 dark:bg-neutral-850"></div>
                        </div>
                        <div class="h-2 bg-neutral-200 rounded dark:bg-neutral-850"></div>
                        <div class="grid grid-cols-3 gap-5">
                            <div class="h-2 bg-neutral-200 rounded col-span-1 dark:bg-neutral-850"></div>
                            <div class="h-2 bg-neutral-200 rounded col-span-2 dark:bg-neutral-850"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-5 bg-neutral-50 py-3 px-5 dark:bg-neutral-850">
                <div class="bg-neutral-200 border border-neutral-200 rounded py-2 px-5 dark:bg-neutral-800 dark:border-neutral-800">
                    <div class="h-5 w-5"></div>
                </div>
                <div class="h-2 bg-neutral-200 rounded w-32 ml-auto dark:bg-neutral-800"></div>
            </div>
        </div>
    </div>
</template>
