<script setup>
import Message from '@/components/message/Message.vue'

defineProps({
    messages: {
        type: Array,
        required: true
    }
})

const emit = defineEmits(['updated', 'deleted'])
</script>

<template>
    <div class="space-y-5">
        <Message v-for="message in messages"
                 v-bind:key="message.id"
                 v-bind:message="message"
                 v-on:updated="updatedMessage => emit('updated', updatedMessage)"
                 v-on:deleted="deletedMessage => emit('deleted', deletedMessage)"/>
    </div>
</template>
