<script setup>
import { ref } from 'vue'
import { TrashIcon, XMarkIcon, HeartIcon } from '@heroicons/vue/20/solid'
import Modal from '@/components/Modal.vue'
import BaseForm from '@/components/form/BaseForm.vue'
import FormButton from '@/components/form/FormButton.vue'
import Mention from '@/components/Mention.vue'

defineProps({
    message: {
        type: Object,
        required: true
    }
})

const modal = ref(false)
const emit = defineEmits(['updated', 'deleted'])
</script>

<template>
    <div class="rounded shadow bg-white dark:bg-neutral-800">
        <div class="flex flex-col gap-5 p-5">
            <div class="flex gap-5">
                <img v-if="message.profile.picture"
                     v-bind:src="message.profile.picture"
                     v-bind:alt="'Profile picture of ' + message.profile.username"
                     class="rounded h-24 w-24">
                <div v-else class="rounded h-24 w-24 bg-neutral-100 dark:bg-neutral-850"></div>
                <div class="flex flex-col flex-1 min-w-0">
                    <div class="flex items-center gap-3">
                        <strong v-if="message.profile.firstname || message.profile.lastname">
                            {{ message.profile.firstname }} {{ message.profile.lastname }}
                        </strong>
                        <router-link
                            class="text-blue-700 hover:text-blue-500"
                            v-bind:to="{ name: 'profile', params: { username: message.profile.username } }">
                            @{{ message.profile.username }}
                        </router-link>
                        <button
                            v-if="message.can_delete"
                            class="ml-auto text-neutral-700 outline-none transition-all focus:ring-4 dark:text-neutral-500"
                            v-on:click.prevent="modal = true">
                            <XMarkIcon class="h-5 w-5"/>
                        </button>
                    </div>
                    <div class="flex-1 mb-2">
                        <Mention v-bind:message="message.body"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between bg-neutral-50 px-5 py-3 rounded-b dark:bg-neutral-850">
            <BaseForm v-bind:url="`messages/${message.id}/like`"
                      v-slot="{ processing }"
                      v-on:success="response => emit('updated', response.data.message)">
                <FormButton variant="secondary"
                            v-bind:class="{ '!text-red-500': message.has_liked }"
                            v-bind:disabled="processing">
                    <HeartIcon class="h-5 w-5"></HeartIcon>
                    <strong class="text-sm" v-text="message.like_count"></strong>
                </FormButton>
            </BaseForm>
            <span class="text-neutral-500" v-bind:title="message.created_at" v-text="message.age"></span>
        </div>

        <Transition name="fade">
            <Modal v-if="modal" v-on:close="modal = false">
                <BaseForm v-bind:url="`messages/${message.id}`"
                          method="delete"
                          v-slot="{ processing, errors }"
                          v-on:success="emit('deleted', message)">
                    <div class="p-5 space-y-5">
                        <h2 class="text-2xl">Delete message</h2>
                        <p>Are you sure you want to delete this message?</p>
                    </div>
                    <div class="flex items-center justify-between p-5">
                        <FormButton type="button" variant="secondary" v-on:click.prevent="modal = false">
                            Cancel
                        </FormButton>
                        <FormButton variant="danger" v-bind:disabled="processing">
                            <TrashIcon class="h-5 w-5"/>
                            <span>Delete</span>
                        </FormButton>
                    </div>
                </BaseForm>
            </Modal>
        </Transition>
    </div>
</template>
