<script setup>
import { computed } from 'vue'
import { useAuthStore } from '@/stores/auth'

const authStore = useAuthStore()
const status = computed(() => authStore.status)
const user = computed(() => authStore.user)
</script>

<template>
    <slot v-if="status && user" v-bind:user="user"/>
</template>
