<script setup>
import { computed } from 'vue'
import { useAuthStore } from '@/stores/auth'

const authStore = useAuthStore()
const status = computed(() => authStore.status)
</script>

<template>
    <slot v-if="!status"/>
</template>
